<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdG74AphtTiGm9fbreJCrT7yByMHIcoac</string>
	<key>GCM_SENDER_ID</key>
	<string>204279765070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testhandproduct</string>
	<key>PROJECT_ID</key>
	<string>used-auction-image</string>
	<key>STORAGE_BUCKET</key>
	<string>used-auction-image.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204279765070:ios:c9f3232b1ac94c98640b1f</string>
</dict>
</plist>